<div class="container">
  <section ng-controller="CurrentController">
    <div ng-show="current.name">
      <h2>Current Player: {{current.name}}</h2>
      <div class="progress">
        <div class="determinate" style="width: {{current.health*100|number:2}}%;"></div>
      </div>

      <div class="row">
        <div class="col s4">
          <h5>Beatmap</h5>
          {{current.beatmap}}

          <ul>
            <li>Playing for: {{current.playingFor}}</li>
          </ul>
        </div>
        <div class="col s4">
          <h5>Player Stats</h5>
          <ul>
            <li>Level: {{current.level | number:0}}</li>
            <li>pp: {{current.pp}}</li>
            <li>Accuracy: {{current.accuracy | number:2}}%</li>
          </ul>
        </div>
        <div class="col s4">
          <h5>Queue</h5>
          {{current.queueSize}} in queue<br/>
          Next: {{current.nextPlayer}}
        </div>
      </div>
    </div>

    <div ng-if="current.name" class="row">
      <div class="col s6" ng-controller="VotesController">
        <div class="row">
          <div class="col s6">
            <h5>Danks ({{votes.up.length}})</h5>
            <ol>
              <li ng-repeat="vote in votes.up | orderBy:'-voteTime'">{{vote.twitchUser}}</li>
            </ol>
          </div>
          <div class="col s6">
            <h5>Skips ({{votes.down.length}})</h5>
            <ol>
              <li ng-repeat="vote in votes.down | orderBy:'-voteTime'">{{vote.twitchUser}}</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col s6" ng-controller="QueueController">
        <div class="row">
          <div class="col s12">
            <h5>Current Queue ({{queue.length}})</h5>
            <div ng-repeat="player in queue" class="chip">
              <img src="https://a.ppy.sh/{{player.userId}}" alt="{{player.name}}">
              {{player.name}}
              <small>{{player.timeInQueue}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>