<div class="navbar-inner" ng-controller="HeaderController">
    <ul class="nav">
        <li>
            <a class="brand" ui-sref="index">OsuCelebrity</a>
        </li>
        <li ng-repeat="item in menu" ng-show="global.user" ui-sref="{{item.link}}" ui-sref-active="active">
            <a href="#!/{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <ul class="nav pull-right" ng-hide="global.authenticated">
        <li><a ui-sref="login" href="#">Login with Twitch</a>
        </li>
    </ul>
    <ul class="nav pull-right" ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" toggle="dropdown">
				{{global.user.name}} <b class="caret"></b>
			</a>
            <ul class="dropdown-menu">
                <li><a ui-sref="signout" href="#">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>